{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<section class="Articles">
		{% for articles in article %}
			<article>
				<h2>
					{{articles.title}}</h2>
				<div class="metadata">
					ecrit le
					{{ articles.createdAt | date ('d/m/Y')}}
					a
					{{ articles.createdAt | date ('H:i')}}
					dans categorie politique
				</div>
				<div class="content">
					<img src="{{articles.image}}" alt="img">
					<p>
						{{articles.content | raw }}
					</p>
					<a href="{{ path('blog_show',{'id':articles.id}) }}" class="btn btn-primary">Lire la suite
					</a>
				</div>
			</article>
		{% endfor %}


	</section>
{% endblock %}
